  <div class="row">
    <div class="row center-align col s12">
       <div class="left-align">
         <%= link_to "Coinstudy", root_path, class: :"logo" %>
       </div>
        <h4 class="top-sentence">このサイトはブロックチェーン技術の勉強会に特化したサイトです </h4>
    </div>
      <div class="col s4">
        <div class="middle-container">
          <%= form_tag('/', method: 'get') do  %>
              <div class="forms">
                <p>
                  <div class="input-field col search">
                   <!--  <i class="material-icons prefix white-text">location_searching</i>
                    <%= label :keyword,params[:keyword], "Place you wanna find"%>
                    <%= text_field_tag  :keyword%> -->
                  </div>
                </p>
                <p>
                  <div class="input-field col search" >
                    <i class="material-icons prefix white-text">schedule</i>
                    <%= label :date,params[:date],"Date you wanna find"%>
                    <%=  text_field_tag :date,'', class:'datepicker white-text' %>
                  </div>
                </p>
                <%= submit_tag "Serch", class:"btn waves-effect waves-light"%>
              </div>
          <% end %>
          <!-- <div class="side-menu">
            <p>検索したキーワード : <%= @keyword %></p>
            <p>検索結果: <%= @events.length%>件</p>
            <p><%= @now %></p>
          </div> -->
        </div>
    </div>


    <div class="col s8" id="wrap">
      <% @events.each do |event| %>
        <div class="row event-card">
          <div class="col s12 m3">
        </div>

          <div class="col s12">
            <div class="card white-gray darken-1 card-panel hoverable">
              <div class="card-content grey-text">
                <span class="card-title blue-text">
                  <%= event['title'] %>
                </span>
                <p><i class="material-icons prefix">add_location</i><%= event['address'] %></p>
                <p><i class="material-icons prefix">access_time</i><%= event['started_at'].to_time %></p>
              </div>
              <div class="card-action">
                <i class="material-icons prefix" id="link-icon">link</i>
                <%= link_to "ページに移動する", "#{event['event_url']}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @events %>
    </div>
  </div>
