<!DOCTYPE html>
<html>
<head>
  <title>Coinstudy</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Materialize CDN -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- nevbar -->
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Coinstudy", root_path, class: :"brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-dow">
        <li><%= link_to "About ", about_path, class: :"" %></li>
        <li><%= link_to "Hi ", root_path, class: :"" %></li>
      </ul>
    </div>
  </nav>

   <div class="row search">
      <div class="col s12">
        <div class="top-container">
          <%= form_tag('/', method: 'get') do  %>
            <div class="row center-align">
              <div class="input-field col s4 search" id="serch-field">
                <i class="material-icons prefix white-text">textsms</i>
                <%= label :keyword,params[:keyword], "Keyword to search"%>
                <%= text_field_tag  :keyword%>
              </div>
              <div class="input-field col s4 search" >
                <i class="material-icons prefix white-text">schedule</i>
                <%= label :date,params[:date],"Date you wanna find"%>
                <%=  text_field_tag :date,'', class:'datepicker white-text' %>
              </div>
              <%= submit_tag "Serch", class:"btn-floating btn-large cyan pulse"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="coin-container" id="app">
      <%= yield %>
    </div>
<script>
  // カレンダー選択の処理
  $(function() {
  var h = $(window).height();

  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
// ローディングの処理
$(window).load(function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
</script>
</body>
</html>
